:root{
    --marginandgap: 1%;
    --animduration: 1s;
    --colorhamburger: rgb(246, 246, 246);
    --sidebarcolor: rgb(30, 30, 30);
    --animfunction: ease-in-out;
    --body-background: rgb(56, 56, 56);
    --card-background: hsl(0, 0%, 15%);
    --btn-light-color: white;
    --text-color: aliceblue;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-background);
    overflow: hidden;
    transition: all var(--animduration) var(--animfunction);
}

.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.cards{
    margin: 0 var(--marginandgap);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    place-items: center;
    row-gap: var(--marginandgap);
    column-gap: var(--marginandgap);
}

.card{
    padding: var(--marginandgap);
    color: var(--text-color);
    background-color: hsl(0, 0%, 15%);
    max-width: 100%;
    min-width: 80%;
    min-height: 80%;
    max-height: 100%;
    text-align: center;
    display: grid;
    place-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 6;
    transition: all var(--animduration) var(--animfunction);
}

.one{
    grid-row: 1/2;
    grid-column: 1/2;
}

.two{
    grid-row: 1/2;
    grid-column: 2/3;
}

.three{
    grid-row: 1/2;
    grid-column: 3/4;
}

.four{
    grid-row: 2/3;
    grid-column: 1/2;
}

.five{
    grid-row: 2/3;
    grid-column: 2/3;
}

.six{
    grid-row: 2/3;
    grid-column: 3/4;
}

.img{
    max-width: 80%;
    min-width: 60%;

}

.sidebarclose{
    height: 100%;
    width: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: var(--sidebarcolor);
    transition: all var(--animduration) var(--animfunction);
}

.sidebarclose .anim {
    transform: translate(-110px,0);
    transition: all var(--animduration) var(--animfunction);
}

.sidebar .anim{
    transition: all var(--animduration) ease;
}

.anim{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side ul li{
    color: var(--text-color);
    list-style: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    transition: all var(--animduration) var(--animfunction);
}

#side ul{
    padding: 0;
    margin: 0 !important;
}


.sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin: 0;
    padding: 0;
    background-color: var(--sidebarcolor);
    height: 100%;
    width: 30%;
    transition: all var(--animduration) ease;
}

.hamburger{
    display: block;
    position: fixed;
    z-index: 11;
    cursor: pointer;
    transition: all calc(var(--animduration) - 0.3s) var(--animfunction); 
    margin-top: 2%;
    margin-left: 1%; 
}

.hamburger-btn{
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--colorhamburger);
    border-radius: 5px;
    transition: all calc(var(--animduration) - 0.3s) var(--animfunction);
}

.hamburger-btn::after,
.hamburger-btn::before{
    content: '';
    position: fixed;
    width: 2.5rem;
    height: .3rem;
    background-color: var(--colorhamburger);
    border-radius: 5px;
    transition: all calc(var(--animduration) - 0.3s) var(--animfunction); 
}

.hamburger-btn::before{
    transform: translateY(-12px);
}

.hamburger-btn::after{
    transform: translateY(12px);
}

.hamburger.open .hamburger-btn{
    transform: translateX(-50px);
    background: transparent;
}

.hamburger.open .hamburger-btn::before{
    transform: translate(40px , 0) rotate(45deg);
}

.hamburger.open .hamburger-btn::after{
    transform: translate(40px , 0) rotate(-45deg);
}

#ham-btn{
    width: max-content;
    height: max-content;
    
}

#theme-btn{
    cursor: pointer;
    margin: 0;
    align-self: flex-end;
    position: absolute !important;
    bottom: 1% !important;
    transition: all 1s ease-in-out !important;

}

#theme-btn p{
    word-wrap: normal;
    display: inline-block;
    margin: 0;
}

.btn-light{
    color: var(--btn-light-color);
}

.btn-dark{
    color: var(--btn-light-color);
}

#i{
    position: absolute;
    left: -30%;
    bottom: 10%;
}

#side{
    /* position: absolute; */
    max-width: 25%;
}

@media screen and (max-width : 650px){
    body,.container{
        overflow: auto;
    }


    .cards{
        width: max-content;
        height: max-content;
        grid-template-columns: var(--marginandgap) auto var(--marginandgap);
        grid-template-rows: repeat(6,auto);
        /* column-gap: 0;
        row-gap: var(--marginandgap) + 2%); */
    }

    .card{
        min-width: 100%;
        min-height: 100%;
        max-width: 90%;
        max-height: 90%;
        margin:  10% 0;
    }

    .one{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    
    .two{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    
    .three{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    
    .four{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    
    .five{
        grid-row: 5/6;
        grid-column: 2/3;
    }
    
    .six{
        grid-row: 6/7;
        grid-column: 2/3;
    }

    #side{
        position: fixed;
        max-width: 60%;
    }

    .sidebar{
        width: 60% !important;
        transition: all var(--animduration) var(--animfunction);  
    }

    .hamburger{
        margin-top: 6% !important;
        margin-left: 3% !important;
    }

    .hamburger-btn,.hamburger-btn::after,.hamburger-btn::before{
        max-width: 2rem;
        max-height: 0.15rem;
    }
}

